body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calcContainer1 {
    width: 300px;
    /* height: 500px; */
    background-color: orange;
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* DIPLAY */
#calcDisplayContainer1 {
    padding: 10px;
    margin: 10px;
    /* width: auto; */
    min-height: 100px;
    background-color: white;
    color: white;
    display: flex;
    flex-direction: column;
}

#calcDisplayBottom1,
#calcDisplayTop1 {
    padding: 10px;
    word-wrap: break-word;
    text-align: end;
}

#calcDisplayTop1 {
    background-color: red;
    flex: 1;
    font-size: 21px;
}

#calcDisplayBottom1 {
    background-color: blue;
    flex: 2;
    font-size: 42px;
}

/* NUMPAD */
.NumKeys, 
.OpKeys {
    width: 50px;
    height: 50px;
    margin: 0px;

}

#calcKeypad1 {
    margin:  10px;
    display: flex;
    justify-content: space-between;
}

#calcNumKeys1 {
    width: 150px;
}

#calcOpKeys1 {
    width: 100px;
}


.NumKeys{
    background-color: blue;
}
.OpKeys{
    background-color: red;
}