body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calcContainer1 {
    width: 300px;
    /* height: 500px; */
    background-color: orange;
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* DIPLAY */
#calcDisplayContainer1 {
    padding: 10px;
    margin: 10px;
    /* width: auto; */
    min-height: 100px;
    background-color: white;
    color: white;
    display: flex;
    flex-direction: column;
}

#calcDisplayBottom1,
#calcDisplayTop1 {
    padding: 10px;
    word-wrap: break-word;
    text-align: end;
}

#calcDisplayTop1 {
    background-color: red;
    flex: 1;
    font-size: 21px;
}

#calcDisplayBottom1 {
    background-color: blue;
    flex: 2;
    font-size: 42px;
}

/* NUMPAD */
.NumKeys {
}

#calcKeypad1 {
    display: flex;
}

#calcNumKeys1 .NumKeys{
    background-color: blue;
}
#calcOpKeys1 .NumKeys{
    background-color: red;

}